.title-label {
    -unity-text-align: upper-center;
    padding-top: 10px;
    font-size: 22px;
    -unity-font-style: bold;
}

.btn {
    background-color: rgb(115, 77, 77);
    opacity: 0.95;
}

.btn hover {
    cursor: link;
    opacity: 1;
}

.btn active {
    opacity: 0.9;
}

.asteroid-min-max-element {
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    -unity-text-align: upper-center;
    flex-shrink: 1;
}
